.main-bheem{
    height: 100vh !important;
}

.bheem-video-stream{
    width:100vw;
    height:100vh;
    -webkit-transition: width .2s;
}
.bheem-list{
    -webkit-transition: width .2s;
    display: inline-block;
    height:100vh;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;

}
.main-header-list{
    background:#dbdbdb;
    text-align: center;
    padding: 2px;
    color: black;
    font-weight: bold;
}
.sub-main-header-list{
    display: inline-flex;
    align-self: center;
}

.head-list-participant{
    color: black;
    width: 100%;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    
    /* -webkit-box-shadow: inset -1px 5px 10px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: inset -1px 5px 10px 0px rgba(0,0,0,0.15);
    box-shadow: inset -1px 5px 10px 0px rgba(0,0,0,0.15); */
}

.wrapper-list-participant{
    flex: 1;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
}
.container-list-joined{
    height: 100%;
    overflow: scroll;
    list-style-type: none;
    margin: 3px;
    padding:0px;
    margin-bottom: 3px;
    width: auto;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 3px solid #ff5275;
}
.container-list-joined li{
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
}
.container-list-joined > li:hover{
    background-color: #dedede;
}


.list-button-wrapper{
    
}
.list-status-wrapper{
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
}

.container-list-joined li{
    margin-left: 2px;
    margin-right: 2px;
    /* overflow: hidden; */

}

.container-list-waiting-room{
    height: 100%;
    overflow: scroll;
    list-style-type: none;
    margin: 3px;
    padding:0px;
    margin-bottom: 3px;
    width: auto;
}
.container-list-waiting-room > li:hover{
    background-color: #dedede;
}
.container-list-waiting-room li{
    padding: 3px;
    margin-left: 2px;
    margin-right: 2px;
    
}

.container-userinfo-wrapper{
    right:0;
    top:0;
    display: flex;
    flex-direction: row;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    max-width: 11.5vw;
}
.container-menu-wrapper{
    
    display: inline-flex;
    justify-items: center;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
.menu-button{
    display: none;
}
.menu-status{
    width: 100%;
    display: inline-flex;
}
.container-menu-wrapper .menu-button .dd-menu-bheem{
    background:transparent;
    border: none;
    padding: 0px;
    margin: 0px;
}
.container-menu-wrapper .menu-button .dd-menu-bheem > button{
    display: inline-flex;
    margin:0px;
    padding: 1em;
    width: auto;
    height: 16px;
    border: 1px solid #9dcc77;
    background-color: #6faf3c;
    color: white;
    display: inline-flex;
    align-items: center; 
    font-size: 9px;
    text-align: center;
    border-radius: 2em; 
}
.container-list-joined > li:hover .container-menu-wrapper .menu-button{
    width: 100%;
    display: inline-flex;
}
.container-list-joined > li:hover .container-menu-wrapper .menu-status{
    display: none;
}

.container-menu-wrapper .menu-button > button {
    margin:0px;
    padding: 1em;
    width: auto;
    height: 16px;
    border: 1px solid #9dcc77;
    background-color: #6faf3c;
    color: white;
    display: inline-flex;
    align-items: center; 
    font-size: 9px;
    text-align: center;
    border-radius: 2em;
}
.container-button-wrapper{
    flex-direction: row-reverse;
    flex: 1;
    display: inline-flex;
}
.container-button-wrapper  > button {
    align-self: flex-end;
    margin:0px;
    padding: 1em;
    width: auto;
    height: 16px;
    border: 1px solid #9dcc77;
    background-color: #6faf3c;
    color: white;
    display: inline-flex;
    align-items: center; 
    font-size: 9px;
    text-align: center;
    border-radius: 2em;
}


.container-menu-wrapper > span {
    font-size: 20px;
    
}

.container-userinfo-wrapper > span {
    overflow: hidden;   
    white-space: nowrap;
    text-overflow: ellipsis;
    margin:0px;
    margin-left: 3px;
    max-width: 100%;
}

.bheem-setting-section{
    margin: 5px;
    display: flex;
    flex-direction: row;
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }