.concalButton{
        margin-top:20;
        color:white;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        background-color: black;
        
}
.concalButton:hover {color:white;background-color: #737373}

.concalButton:active {
color:white;
background-color: black;
}
.fullScreen{
        height: 100vh;
        width: 100vw;
        position:fixed;
        top:0;
        left:0;
}
.vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
}
.ocapComp{
       opacity: 0.6;
}
.ocapComp:hover {opacity:1;}
.ocapComp:active {opacity:0.6;}

.iconButton{
    margin:20px;
    color: #737373;
}
.iconButton:hover {
        color:white;
        cursor: pointer;
}
.iconButton:active {
        color:#737373;
}

.iconSizeResponsive{
        font-size: 2em;
}


.footerConcal{
        opacity: 0.3;
}
.footerConcal:hover{

        opacity: 1;
}

.conTitle{
        font-size: 1em;
        padding: 1em;
}