.btnHeader{
    margin-left: 1.5em;
    padding: 10px;
    border-radius: 2em;
    border: 1px solid #737373;
    font-weight: bold;
    background: transparent;
    color: white;
}
.btnHeader:hover{
    background: rgb(237, 20, 17);
    color: white;
}
.btnHeaderScroll{
    margin-left: 1.5em;
    padding: 10px;
    border-radius: 2em;
    border: 1px solid #333333;
    font-weight: bold;
    background: transparent;
    color: #333333;
}

.pvw-join:after {
    content: "Join";
  }
.pvw-host:after {
    content: "Host";
}

.profileSec{
    margin-left: 9px;
    border-radius: 1em;
}
.profileSec:hover{
    cursor: pointer;
    background-color: rgba(181, 181, 181, 0.5);
}


/* Desktop */
@media screen and (min-width: 1432px) {
    .profileSec{
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .avatar{
        margin-left: 1.5em;
    }
    .btnJoinB{
        visibility: hidden;
        display: none; 
    }
    .btnHostB{
        visibility: hidden;
        display: none; 
    }
    .dd-header{
        margin-left: 2em;
        margin-right: 50px;
    }
}
/* Desktop lebih kecil */
@media screen and (max-width: 1431px) {
    
    .profileSec {
        padding: 0px;
        margin-left: 10px;
        margin-right: 200px;
    }
    .btnLoginheader{
        margin-right: 200px;
    }
    .btnHost{
        visibility: hidden;
        display: none;  
    }
    .btnJoin{
        visibility: hidden;
        display: none;  
    }
    .btnHostB{
        visibility: visible; 
    }
    .btnJoinB{
        visibility: visible; 
    }

    .avatarName {
        visibility: hidden;
        display: none;
    }
    .dd-header{
        margin-left: 2em;
        margin-right: 70px;
    }
}
/* Mobile */
@media screen and (max-width: 375px) {
    .btnHeader{
        margin-left: 20px;
        padding: 3px;
    }
    .profileSec{
        padding: 0px;
        margin-left: 10px;
    }
    .avatar{
        margin-left: 1px;
    }
    .btnHostB{
        visibility: visible; 
    }
    .btnJoinB{
        visibility: visible; 
    }
    
    .btnHost{
        visibility: hidden;
        display: none; 
    }
    .btnJoin{
        visibility: hidden;
        display: none;
    }

    .avatarName {
        visibility: hidden;
        display: none;
    }
    .dd-header{
        margin-left: 20px;
        margin-right: 70px;
    }
}

.avatar{
    
    width: 2.5em;
    border-radius: 3em;
}
.avatarName{
    font-size: 1em;
    margin-top: 7.5px;
    padding: 0;
    color: white;
}
.avatarNameScroll{
    font-size: 1em;
    margin-top: 7.5px;
    padding: 0;
    color: black;
}


.statusUser{
    padding: 0.5;
    font-size: 0.7em;
    text-align: center;
    border-radius: 1em;
    font-weight: bold;
    background-color: #0acc48;
}
.statusUserScroll{
    padding: 1;
    background-color: white;
    color: #0acc48;
}



  .dd-header-btn {
    background: none;
    border-radius: 2em;
    font-size: 16px;
    border: none;
    outline:none;
    border: solid 1px transparent;
    border-radius: 4px; 
  }
  .dd-header-btn::-moz-focus-inner {
    border: 0;
  }
 
  /* The container <div> - needed to position the dropdown content */
  .dd-header {
    border-radius: 2em;
    background-color: rgba(181, 181, 181, 0.2);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dd-content {
    margin-top: 5px;
    left: -10;
    display: none;
    padding: 12px 16px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius:1em;
    min-width: 300px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dd-content a {
    color: black;
    background: transparent;
    padding: 12px 16px;
    border-radius:1em;
    text-decoration: none;
    display: block;
  }
  .dd-content-header{
      padding: 5px;
      padding-left: 10px;
  }
  .dd-content-header:hover{
    background-color: #ddd; 
    cursor: pointer;
  }
  /* Change color of dropdown links on hover */
  .dd-content a:hover {background-color: #ddd;cursor: pointer;}
  
  /* Show the dropdown menu on hover */
  .dd-header:hover  .dd-content {
      display: block;
      right: 0;}

  /* .dd-header-btn:focus .dd-content{display: block;}

  .dd-header:hover  .df-avatar{
    visibility: hidden;
    display: none;  
    } */
  .dd-header-btn:focus .df-avatar{
    visibility: hidden;
    display: none;  
    }
    /* .dd-header:hover  .avatarName{
        visibility: hidden;
        display: none;  
        } */
    /* .dd-header-btn:focus .avatarName{
    visibility: hidden;
    display: none;  
    } */
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dd-header:hover {background-color: rgba(237, 20, 17,0.4);}

